.form-control {
    border: none !important;
}
.hr-line {
    margin-top: 0px;
}
.form {
    width: 75%;
    margin: 0 auto;
    &__required {
        margin-top: -12px;
        font-size: small;
    }
}
