<div class="col-md-4 col-md-offset-4 container mt-5">
  <h2 class="text-center">Registrar</h2>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-group mt-5">
      <input
        type="text"
        name="first_name"
        class="form-control"
        placeholder="Nombre"
        formControlName="firstName"/>
      <hr class="hr-line">
      <app-error-messages [control]="registerForm.get('firstName')"></app-error-messages>
    </div>
    <div class="form-group mt-5" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <input
        type="text"
        name="last_name"
        class="form-control"
        placeholder="Apellido"
        formControlName="lastName"/>
      <hr class="hr-line">
      <app-error-messages [control]="registerForm.get('lastName')"></app-error-messages>
    </div>
    <div class="form-group mt-5" ng-class="{ 'has-error': form.userName.$dirty && form.userName.$error.required }">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Nombre de usuario"
        formControlName="userName"/>
      <hr class="hr-line">
      <app-error-messages [control]="registerForm.get('userName')"></app-error-messages>
    </div>
    <div class="form-group mt-5" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Correo electrónico"
        formControlName="email"/>
      <hr class="hr-line">
      <app-error-messages [control]="registerForm.get('email')"></app-error-messages>
    </div>
    <div class="form-group mt-5" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Contraseña"
        formControlName="password"/>
      <hr class="hr-line">
      <app-error-messages [control]="registerForm.get('password')"></app-error-messages>
    </div>
    <div class="buttons">
      <button type="submit" class="btn buttons__login">Registrar</button>
      <img *ngIf="dataLoading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <button type="button" class="btn buttons__register" routerLink="/">Cancelar</button>
    </div>
  </form>
</div>

