<nav class="navbar navbar-dark principalHeader">
  <div class="dropdown">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="'ships'">Ships</a>
      <a class="dropdown-item" [routerLink]="'page-one'">Page One</a>
      <a class="dropdown-item" [routerLink]="'page-two'">Page Two</a>
    </div>
  </div>
  <button type="button" class="btn buttons__register" (click)="logOut()">Cerrar sesión</button>
</nav>
