<div class="col-md-5 col-md-offset-5 container mt-5">
  <h2 class="text-center">Iniciar sesión</h2>
  <p class="text-center">Introduzca su nombre de usuario y contraseña para iniciar sesión</p>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form">
    <div class="form-group mt-5" [ngClass]="{ 'has-error': loginForm.invalid }">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de usuario"
        formControlName="userName"/>
      <hr class="hr-line">
      <app-error-messages [control]="loginForm.get('userName')"></app-error-messages>
    </div>
    <div class="form-group mt-5" [ngClass]="{ 'has-error': loginForm.invalid }">
      <input
        type="password"
        class="form-control"
        placeholder="Contraseña"
        formControlName="password"/>
      <hr class="hr-line">
      <app-error-messages [control]="loginForm.get('password')"></app-error-messages>
    </div>
    <div class="buttons">
      <button type="submit" [disabled]="loginForm.invalid" class="btn buttons__login">Iniciar sesión</button>
      <div class="text-center">
        <span>¿Aún no tienes una cuenta?</span>
        <button type="button" routerLink="/register" class="m-3 btn btn-secondary">Regístrate</button>
      </div>
      <img *ngIf="dataLoading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
    <div class="input-group-append" *ngIf="unregistered">
      <span class="colorInvalid">
          <i>Usuario no registrado</i>
      </span>
    </div>
  </form>
</div>
